<ion-header no-border>
  <button class="brauButton" ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-navbar hideBackButton>
    <ion-searchbar class="searchBarDoktor" placeholder="BUSQUE AQUI SUA CERVEJA..." (ionInput)="getItems($event)"></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let ber of doktorBeer;let i = index" col-6 text-center >
        <div>
          <p><strong>{{ber.cerveja}}</strong></p>
          <div *ngIf="ber.type == 'garrafa'" class="d-flex-justify-space-evenly">
            <input class="input-20" type="radio" id="300" name="option{{i}}" value="300">
            <label for="huey">300ml</label>
            <input class="input-20" type="radio" id="500" name="option{{i}}" value="500">
            <label for="huey">500ml</label>
          </div>
        </div>
        <div>
          <!-- <ion-img class="imgLista" [src]="ber.url"></ion-img> -->
          <img src="{{ber.url}}" class="imgLista">
        </div>
        <div>
          <button ion-button color="secondary" (click)="buy()">
            COMPRAR
          </button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>