page-radio {
  .toolbar-background-md {
    background-color: transparent !important;
  }
  .toolbar-background-ios {
    background-color: transparent !important;
  }

  .toolbar-title-md {
    color: black !important;
    font-weight: 800 !important;
    position: absolute;
    text-align: center;
  }
  .toolbar-title-ios {
    color: black !important;
    font-weight: 800 !important;
    position: absolute;
    text-align: center;
  }
  .item-md {
    background-color: transparent !important;
    padding: 0px;
  }
  .toolbar-content-md {
    display: flex;
    justify-content: center;
  }
  .toolbar-content-ios {
    display: flex;
    justify-content: center;
  }

  .footer-md::before{
    background-image: none;
    border: none;
  }

  .item-md.item-block .item-inner{
    border: none;
    background-image: none;
  }

  .doktorRadio{
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 50%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .iconRadio{
    font-size: 50px !important;
  }
}
