page-radio {
  .toolbar-background-md {
    background-color: transparent !important;
  }
  .toolbar-background-ios {
    background-color: transparent !important;
  }

  .toolbar-title-md {
    color: black !important;
    font-weight: 800 !important;
    position: absolute;
    text-align: center;
  }
  .toolbar-title-ios {
    color: black !important;
    font-weight: 800 !important;
    text-align: center;
  }
  .item-md {
    background-color: transparent !important;
    padding: 0px;
  }
  .item-ios {
    background-color: transparent !important;
    padding: 0px;
  }
  .scroll-content{
    display: flex !important;
    align-items: center !important;
  }
  .toolbar-content-md {
    display: flex;
    justify-content: center;
  }
  .toolbar-content-ios {
    display: flex;
    justify-content: center;
  }

  .footer-md::before {
    background-image: none;
    border: none;
  }
  .footer-ios::before {
    background-image: none;
    border: none;
  }

  .buttonsMusic {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sideButtons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .f-30 {
    font-size: 30px;
  }

  .item-md.item-block .item-inner {
    border: none;
    background-image: none;
  }
  .item-ios.item-block .item-inner {
    border: none;
    background-image: none;
  }

  .range-ios .range-knob-min.range-knob-min .range-knob {
    background: black;
  }
  .range-ios .range-bar-active {
    background: black !important;
  }
  .range-md .range-knob-min.range-knob-min .range-knob {
    background: black;
  }
  .range-md .range-bar-active {
    background: black !important;
  }
  .range-ios .range-bar-active {
    background: black !important;
  }
  .range-md .range-bar {
    background: rgb(94, 94, 94);
  }
  .range-ios .range-bar {
    background: rgb(94, 94, 94);
  }
  .range-md .range-knob {
    background: rgb(128, 124, 124) !important;
  }
  .range-ios .range-knob {
    background: black !important;
  }

  .doktorRadio {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 50%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
  }

  .footer-ios .toolbar-background-ios {
    border-color: rgba(255, 255, 255, 0) !important;
  }

  .iconRadio {
    font-size: 50px !important;
  }

  .img-responsive {
    max-width: 100%;
    height: auto;
    background-image: url("../../assets/imgs/radioimage.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }
}
