page-radio {
  .toolbar-background-md {
    background-color: transparent !important;
  }
  .toolbar-background-ios {
    background-color: transparent !important;
  }

  .toolbar-title-md {
    color: black !important;
    font-weight: 800 !important;
    position: absolute;
    text-align: center;
  }
  .toolbar-title-ios {
    color: black !important;
    font-weight: 800 !important;
    position: absolute;
    text-align: center;
  }
  .item-md {
    background-color: transparent !important;
    padding: 0px;
  }
  .toolbar-content-md {
    display: flex;
    justify-content: center;
  }
  .toolbar-content-ios {
    display: flex;
    justify-content: center;
  }

  .footer-md::before {
    background-image: none;
    border: none;
  }

  .buttonsMusic{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sideButtons{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .f-30{
    font-size: 30px;
  }

  .item-md.item-block .item-inner {
    border: none;
    background-image: none;
  }

  .range-md .range-knob-min.range-knob-min .range-knob {
    background: black;
  }
  .range-md .range-bar-active {
    background: black !important;
  }
  .range-ios .range-bar-active {
    background: black !important;
  }
  .range-md .range-bar {
    background: rgb(94, 94, 94);
  }
  .range-ios .range-bar {
    background: rgb(94, 94, 94);
  }
  .range-md .range-knob {
    background: black !important;
  }
  .range-md .range-knob {
    background: black !important;
  }

  .doktorRadio {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 50%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
  }

  .iconRadio {
    font-size: 50px !important;
  }
}
