<ion-header no-border>
  <button class="brauButton" ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-navbar hideBackButton>
    <ion-title>RádioRock DoktorBräuFM</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar margin-vertical>

    <ion-grid>
      <ion-row>
        <ion-col col-12 align-self-center>
          <div class="buttonsMusic">
            <i class="sideButtons fa fa-2x fa-step-backward"></i>
            <button class="doktorRadio" *ngIf="!toPlay" ion-button dark (click)="play()">
              <ion-icon class="iconRadio" name="play"></ion-icon>
            </button>
            <button class="doktorRadio" *ngIf="toPlay" ion-button dark (click)="pause()">
              <ion-icon class="iconRadio" *ngIf="toPlay" name="pause"></ion-icon>
            </button>
            <i class="fa fa-2x fa-step-forward"></i>
          </div>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center>
        <ion-col col-10>
          <ion-item>
            <ion-range (ionChange)="setVolume(volume)" min="0" max="100" pin="true" step="10" [(ngModel)]="volume">
              <ion-icon small range-left name="volume-off"></ion-icon>
              <ion-icon range-right name="volume-high">
                <i class="fa fa-volume-up"></i>
              </ion-icon>
            </ion-range>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 text-center *ngIf="toPlay">
          <h4>{{artistName}}</h4>
          <span>{{musicName}}</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>