<ion-header no-border>
  <button class="brauButton" ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-navbar hideBackButton>
    <ion-searchbar id="searchbar" class="searchBarDoktor" (ionInput)="getItems($event)"></ion-searchbar>
  </ion-navbar>
  <h1 text-center>CERVEJEIROS</h1>
</ion-header>


<ion-content>
  <ion-slides (ionSlideWillChange)="indexNow($event)" >
    <ion-slide #slide (ionSlideDidChange)="indexNow($event)" class="d-inline swiper-slide" *ngFor="let com of data.item;let i = index">
      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <img class="beerStar" src="{{com.beerUrl}}">
          </ion-col>
          <ion-col col-8 justify-content-start text-left>
            <h3>{{com.name}}</h3>
            <div>
              <div *ngFor="let j of com.userComment;" margin-vertical>
                <div>
                  <ion-icon *ngFor="let item of [].constructor(j.rating);" name="star"></ion-icon>
                </div>
                <div>
                  <p *ngIf="j.rating == 1">BOM</p>
                  <p *ngIf="j.rating == 2">MUITO BOM</p>
                  <p *ngIf="j.rating == 3">GOSTEI</p>
                  <p *ngIf="j.rating == 4">GOSTEI MUITO</p>
                  <p *ngIf="j.rating == 5">EXCELENTE</p>
                </div>
                <small>
                  <ion-icon name="chatbubbles" color="light"></ion-icon>
                  <strong>{{j.username}}</strong> {{j.coment}}
                </small>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <div class="ratingBeer">
      <p>AVALIAR: </p>
      <ionic3-star-rating #rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#ffffff"
        defaultColor="#f4f4f4" readonly="false" rating="3" fontSize="32px" (ratingChanged)="logRatingChange($event)">
      </ionic3-star-rating>
    </div>
    <ion-item class="w-80 mb-10">
      <ion-textarea rows="1" type="text" placeholder="Deixe seu comentário" [(ngModel)]="coment"></ion-textarea>
    </ion-item>
    <ion-fab bottom right (click)="enviar(coment)">
      <button ion-fab color="secondary">
        <ion-icon name="paper-plane"></ion-icon>
      </button>
    </ion-fab>
  </ion-toolbar>
</ion-footer>