page-cervejeiros {
  .toolbar-background-md {
    background-color: transparent !important;
  }
  .toolbar-background-ios {
    background-color: transparent !important;
  }

  .ratingBeer {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  .w-80 {
    width: 80% !important;
  }
  .mb-10 {
    margin-bottom: 10px !important;
    border-radius: 20px;
  }
  .d-inline {
    display: inline;
  }

  ion-searchbar {
    width: 84%;
    float: right;
    justify-content: end;
    display: flex;
    align-items: end;
    text-align: end;
  }

  strong {
    color: blue;
  }
  .beerStar {
    max-width: 201% !important;
    width: 140% !important;
    height: 200px !important;
    background: transparent;
    margin-left: -20px;
    background-position: center;
  }
  .swiper-slide {
    overflow-y: scroll;
    display: block;
  }

  h1{
    font-weight: bolder;
    font-size: 4rem;
  }
}
