page-credito {
    ion-content{
        background-color: white !important;
    }
    .scroll-content{
        background-color: white !important;
    }
    .imgCredit{
        width: 90%;
    }
    .references{
        font-size: 10px;
    }
    .titulo{
        color: #d24a7d;
        font-size: 15px;
    }
    .referenciaEnfase{
        color: #d24a7d;
    }
}
